Q1. What is a database? Differentiate between SQL and NoSQL databases.

ANS: Database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and updating of the data.
SQL (Structured Query Language) Databases
SQL databases are relational databases that use a structured query language (SQL) for defining and manipulating the data.
example- My SQL, MS SQL etc.
-SQL databases use tables to represent data and relationships between tables using foreign keys.
-SQL databases scale vertically by increasing the horsepower (CPU, RAM, SSD) of the existing server.
-SQL databases are often used for applications where the data structure is unlikely to change frequently and transactions are critical (e.g., financial applications).

NoSQL (Not Only SQL) Databases
NoSQL databases are non-relational databases that provide a mechanism for storage and retrieval of data that is modeled in ways other than the tabular relations used in relational databases.
example- MongoDB, Cassandra etc.
-NoSQL databases can use various models (key-value, document, graph) to represent and store data.
-NoSQL databases scale horizontally by adding more servers to the database.
-NoSQL databases are suitable for applications with rapidly changing data or where scalability and flexibility are essential (e.g., web applications, big data).

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANS:
DDL (Data Definition Language):

Data Definition Language (DDL) is a subset of SQL (Structured Query Language) that deals with the definition and management of database structures. DDL statements are used to define, modify, and remove the structure that holds the data. The primary DDL commands are CREATE, DROP, ALTER, TRUNCATE.
CREATE: Used to create database objects such as tables, indexes, and views.
ALTER: Used to modify the structure of an existing database object.
DROP: Used to delete a database object, including tables and databases.
TRUNCATE: Used to remove all records from a table, but the table structure and its columns, constraints, indexes, etc., remain.

example for CREATE:
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    salary DECIMAL(10, 2));

example for ALTER:
ALTER TABLE employees
ADD COLUMN department VARCHAR(100);

example for DROP:
DROP TABLE employees;

example for TEUNCATE:
TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS:
DML (Data Manipulation Language)
Data Manipulation Language (DML) is a subset of SQL (Structured Query Language) that deals with the manipulation of data stored in the database. DML statements allow users to insert, update, and delete data in a database.

INSERT: Used to add new records (rows) to a table.
example
INSERT INTO employees (id, name, salary, department)
VALUES (1, 'John Doe', 50000.00, 'HR');

UPDATE: Used to modify existing records in a table.
example
UPDATE employees
SET salary = 55000.00
WHERE id = 1;

DELETE: Used to remove records from a table.
DELETE FROM employees
WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

ANS:
Data Query Language (DQL) is a subset of SQL (Structured Query Language) that deals with the retrieval of data from a database. 

SELECT: Used to specify the columns that you want to retrieve from one or more tables. It is followed by the keywords FROM, which indicates the source table, and optionally, a WHERE clause to specify conditions for the selection.
example
Suppose you have a table named employees with columns id, name, salary, and department. You want to retrieve the names and salaries of all employees in the HR department whose salary is greater than 50000.00.


SELECT name, salary
FROM employees
WHERE department = 'HR' AND salary > 50000.00;

Q5. Explain Primary Key and Foreign Key.

ANS:
A Primary Key is a field in a database table that uniquely identifies each record in that table. It must contain unique values, and it cannot contain NULL values. The primary key constraint is used to enforce the uniqueness and integrity of the data in a table.

A Foreign Key is a field in a database table that is a primary key in another table. It establishes a link between the data in two tables by referencing the primary key of one table from another table. The foreign key constraint maintains referential integrity between the two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 53.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

import mysql.connector

# Connect to MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
    database="test"
)

# Create a cursor object
cursor = connection.cursor()

# Example: Creating a table
create_table_query = """
CREATE TABLE IF NOT EXISTS example_table (
    id INT PRIMARY KEY,
    name VARCHAR(255)
)
"""
cursor.execute(create_table_query)

# Example: Inserting data into the table
insert_data_query = "INSERT INTO example_table (id, name) VALUES (%s, %s)"
data_to_insert = (1, "sumeet")
cursor.execute(insert_data_query, data_to_insert)

# Commit the transaction
connection.commit()

# Example: Retrieving data from the table
select_data_query = "SELECT * FROM example_table"
cursor.execute(select_data_query)

# Fetch all rows
rows = cursor.fetchall()

# Print the retrieved data
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()
# when we will run this program in MySQL+Python enviroment it will shows the result

Q7. Give the order of execution of SQL clauses in an SQL query.

ANS:
In a standard SQL query, the clauses are generally executed in the following order:

FROM:
Specifies the tables from which to retrieve data.

WHERE:
Filters the rows based on a specified condition.

GROUP BY:
Groups the rows that have the same values in specified columns into summary rows.

HAVING:
Filters the groups based on a specified condition.

SELECT:
Retrieves the columns specified in the SELECT clause.

DISTINCT:
Removes duplicate rows from the result set.

ORDER BY:
Sorts the result set based on specified columns.

LIMIT/OFFSET:
Limits the number of rows returned or skips a specified number of rows